@import url('navigation.css');
@import url('logo.css');

a {
    text-decoration: none;
    color: inherit;
}


li {
    list-style: none;
}


li a {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    max-width: 1280px;
    width: 100%;
}
